    .popular-item {
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
        justify-content: center;
    }
    
    .popular h1 {
        color: blue;
        font-size: 60px;
        text-align: center;
    }
    
    .popular {
        width: 100%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .popular hr {
        height: 6px;
        width: 90%;
        border-radius: 10px;
        background-color: rgb(127, 58, 255);
    }